---
layout: default
---

<h1>AI Capitalとは</h1>

<p>AI Capitalは、自らを信じ抜く覚悟を持った起業家に対して投資を行う、Angel Investor（エンジェル投資家）です。</p>
<p>起業家への最初の投資額は、数十万円〜数百万円程度です。私達は投資先にあらゆる面で積極的に関わります。特にプロダクト開発については、プロトタイプの段階から一緒に開発します。</p>
<p>短期間で急成長することを目的としている起業家は、投資対象としていません。変革、下剋上を起こしたい起業家を投資対象としています。</p>

<h1>起業家へ</h1>

<p>私達は起業家を常に探しています。まずは気軽に都内でランチミーティングでもしましょう。あなたの世界観や未来予想、現状認識をざっくばらんにお聞かせください。</p>
<p>連絡先は以下のとおりです。</p>
<ul>
    <li><a href="mailto:deraru@gmail.com">メール</a></li>
    <li><a href="https://twitter.com/deraru" target="_blank" rel="noopener">Twitter</a></li>
    <li><a href="https://facebook.com/rui.onodera" target="_blank" rel="noopener">Facebook</a></li>
    <li><a href="tel:05071288147">電話</a></li>
</ul>
<p>お話を聞けることを楽しみにしています！</p>
